@import '../varibles/varibles';

$settingsFontSize: 12px;
.settings-content {
  width: 100%;
  position: absolute;
  background-color: rgba(243, 243, 243, 1);
  .settings-item-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding: 10px $table-padding;
    .settings-item {
      padding-left: 10px;
      /* Button */
      .button {
        font-size: $settingsFontSize;
        box-shadow: none;
        border-radius: 4px;
        color: rgba(74, 74, 74, 0.85);
        &:focus {
          border-color: #dbdbdb;
        }
      }
    }
  }
}
