@import '../varibles/varibles';

.b-table {
  transition: none;
  .top {
    //padding-top: $table-padding;
  }

  .table-wrapper:not(:last-child) {
    //margin-bottom: 0;
  }

  .table {
    th {
      vertical-align: middle;
    }

    td {
      vertical-align: middle;
    }

    tbody {
      font-weight: 400;
    }
  }
}

