//@import 'animate';

.animated {
  animation-duration: 1s;
  //animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.slideLeft {
  animation-name: slideLeft;
  //animation: slideLeft 1.5s ease-in-out;
  //animation-fill-mode: both;
}

.slideRight {
  animation-name: slideRight;
}

@keyframes slideLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
