@import '../../assets/scss/varibles/varibles';

.country-page {
  .header-content {
    .title {
      color: rgba(0, 0, 0, .7);
      font-weight: 900;
    }
  }

  .body-content {
    padding-top: 0;
    $border-radius: 20px;

    .card {
      border-radius: $border-radius;
      background-color: transparent;
      overflow: initial;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
      //box-shadow: none;
      .table-header-content {
        //box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
        position: relative;
        display: flex;
        align-items: center;
        padding: $table-padding $table-padding $table-padding $table-padding;
        justify-content: space-between;
        background-color: white;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        /* Continent */
        .table-continent-content {
          .btn-continent {
            margin-right: 5px;
          }
        }

        .table-icon-content {
          display: flex;
          align-items: center;

          .home-icon {
            cursor: pointer;
            border-radius: 4px;
            padding: 7px;
            background-color: #f4f4f4;

            &:hover {
              background-color: #eeeeee;
              border-color: transparent;
              color: rgba(0, 0, 0, 0.7);
            }
          }

          .table-covid-text {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.6);
            font-weight: 700;
          }

          .table-covid-icon {
            margin-left: 10px;
            width: 25px;
          }
        }
        .table-handler-content {
          display: flex;
          align-items: center;

          .home-icon-content {
            padding-left: 10px;

            .home-icon {
              cursor: pointer;
              border-radius: 4px;
              padding: 7px;
              background-color: #f4f4f4;

              &:hover {
                background-color: #eeeeee;
                border-color: transparent;
                color: rgba(0, 0, 0, 0.7);
              }
            }
          }

          .settings-icon-content {
            border-radius: 4px;
            padding: 7px;
            background-color: #f4f4f4;
            cursor: pointer;

            &:hover {
              background-color: #eeeeee;
              border-color: transparent;
              color: rgba(0, 0, 0, 0.7);
            }

            .icon-content {
              color: rgba(0, 0, 0, .7);
              display: flex;
              justify-content: center;
              align-items: center;
              width: $icon-dimension;
              height: $icon-dimension;
              line-height: $icon-dimension;
              font-size: $icon-dimension;
              transition: transform $setting-anim-duration ease-in-out;
              transform: rotateZ(0);

              &.active {
                transform: rotateZ(200deg);
              }
            }
          }
        }

      }

      .table-body-content {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: white;
        transform: translate3d(0, 0, 0);
        padding: 0 $table-padding $table-padding $table-padding;
        backface-visibility: hidden;
        transition: transform $setting-anim-duration ease-in-out;
        //box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
        box-shadow: 0 0.5em 1em -0.025em rgba(10, 10, 10, 0.02);
      }
    }
    //}
  }
}
