@import '../../assets/scss/varibles/varibles';

.country-page {
  .header-content {
    .title {
      color: rgba(0, 0, 0, .7);
      font-weight: 900;
    }
  }

  .body-content {
    padding-top: 0;

    .card {
      border-radius: 20px;

      .card-content {
        padding: $table-padding 0;

        .table-header-content {
          position: relative;
          display: flex;
          align-items: center;
          margin: 0 $table-padding;
          justify-content: space-between;

          .table-icon-content {
            display: flex;
            align-items: center;

            /*  .home-icon {
                cursor: pointer;
                border-radius: 4px;
                padding: 7px;
                background-color: #f4f4f4;

                &:hover {
                  background-color: #eeeeee;
                  border-color: transparent;
                  color: rgba(0, 0, 0, 0.7);
                }
              }*/

            .table-covid-text {
              font-size: 20px;
              color: rgba(0, 0, 0, 0.6);
              font-weight: 700;
            }

            .table-covid-icon {
              margin-left: 10px;
              width: 25px;
            }
          }

          .table-name-content {
            z-index: 0;
            position: absolute;
            width: 100%;
            .table-covid-text {
              text-align: center;
              font-size: 20px;
              color: rgba(0, 0, 0, 0.6);
              font-weight: 700;
            }
          }

          .table-handler-content {
            display: flex;
            align-items: center;
            .home-icon-content {
              padding-left: 10px;
              .home-icon {
                cursor: pointer;
                border-radius: 4px;
                padding: 7px;
                background-color: #f4f4f4;

                &:hover {
                  background-color: #eeeeee;
                  border-color: transparent;
                  color: rgba(0, 0, 0, 0.7);
                }
              }
            }

            .settings-icon-content {
              border-radius: 4px;
              padding: 7px;
              background-color: #f4f4f4;
              cursor: pointer;

              &:hover {
                background-color: #eeeeee;
                border-color: transparent;
                color: rgba(0, 0, 0, 0.7);
              }

              .icon-content {
                color: rgba(0, 0, 0, .7);
                display: flex;
                justify-content: center;
                align-items: center;
                width: $icon-dimension;
                height: $icon-dimension;
                line-height: $icon-dimension;
                font-size: $icon-dimension;
                transition: transform $setting-anim-duration ease-in-out;
                transform: rotateZ(0);

                &.active {
                  transform: rotateZ(200deg);
                }
              }
            }
          }
        }
      }
    }
  }
}


/*.card-wrapper {
  $border: 1px solid rgba(24, 28, 33, 0.07);
  .card-top {
    box-shadow: 0px -1px 13px 0px rgba(10,10,10,0.09);
    //box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    border-top: $border;
    border-right: $border;
    border-left: $border;
    height: 200px;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .card-bottom {
    box-shadow: 0px 8px 5px 0px rgba(10,10,10,0.09);
    //box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    transform: translate3d(0, 0, 0);
    border-bottom: $border;
    border-right: $border;
    border-left: $border;
    height: 200px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}*/
