@import 'bulma/bulma';
@import 'table/table';
@import 'table/search';
@import 'table/settings';
@import 'table/selectDropDown';
@import 'table/select';
@import 'dropdown/dropdown';
@import 'table/checkbox';
@import 'animate/transition-animation';

html, body {
  font-family: 'Nunito Sans', sans-serif; // 200;300;400;600
  //background-color: #f5f5f5;
  background-color: #f8f8f8;

  .main-content {
    position: absolute;
    width: 100%;
    height: 100%;

    .page-content {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .country-content {
      position: absolute;
      width: 100%;
      height: 100%;
      //transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      animation-fill-mode: both;

      .pages {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: gold;

        &:nth-last-child(1) {
          background-color: #cdffe9;
          left: 100%
        }
      }

      &.page1 {
        transform: translate3d(0, 0, 0);
      }

      &.page2 {
        transform: translate3d(-100%, 0, 0);
      }
    }

  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.anim-slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
