@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

$pagination-focus-color: transparentize;
.page-title {
  text-align: center;
  font-weight: 400;
}

.main-content {
  .title {
    font-weight: 400;
  }
}
.title-content{
  display: flex;
  justify-content: space-between;
  img{
    margin-top: -5px;
  }
}

.table {
  td{
    font-weight: 400;
  }
  .cell-value {}
  .cell-btn {
    cursor: pointer;
  }
}
