@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

$pagination-focus-color: transparentize;


/* Search Input */
.searchInputContent {
  .searchInput {
    border-radius: 5px;
  }

  .has-icons-left .icon.is-small,
  .has-icons-right .icon.is-small {
    height: 100%;
    font-size: 16px !important;
    width: 30px;
  }

  .has-icons-left .input,
  .has-icons-left .select select {
    padding-left: 2.2em;
  }
}

.page-title {
  text-align: center;
  font-weight: 400;
}

.main-content {
  .title {
    font-weight: 400;
  }
}

.title-content {
  display: flex;
  justify-content: space-between;

  img {
    margin-top: -5px;
  }
}

/* Table */
.table {
  td {
    font-weight: 400;
    vertical-align: middle;
  }

  .cell-value {
  }

  .cell-btn {
    cursor: pointer;
  }

  .td-img {
    height: 16px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
