.search-content {
  padding-right: 10px;
  .icon {
    height: 100%;
    i {
      margin-top: 2px;
      font-size: 15px;
    }
  }

  .searchInput {
    padding-left: 25px;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.25s ease-out;
    border-color: rgba(219, 219, 219, 0.75);
    background-color: rgba(243, 243, 243, 0);

    &:hover {
      border-color: rgba(219, 219, 219, 0.5);
    }

    &:focus {
      border-color: rgba(219, 219, 219, 0);
      background-color: rgba(243, 243, 243, 0.8);
    }
  }
}
