@import 'src/assets/scss/varibles/varibles';

$settingsFontSize: 12px;
$settingsContentHeight: 51px;
.settings-content {
  width: 100%;
  padding: 0 $table-padding;
  margin-top: $table-padding;
  background-color: rgba(243, 243, 243, 1);
  height: 0;
  overflow: hidden;
  transition: height $setting-anim-duration ease-in-out;
  &.active {
    height: $settingsContentHeight;
  }
  .settings-item-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: $settingsContentHeight;
    .settings-item {
      padding-left: 10px;
      /* Button */
      .button {
        font-size: $settingsFontSize;
        box-shadow: none;
        border-radius: 4px;
        color: rgba(74, 74, 74, 0.85);

        &:focus {
          border-color: #dbdbdb;
        }
      }

      /* Select */
      .select {
        font-size: $settingsFontSize;

        &:not(.is-multiple):not(.is-loading)::after {
          border-color: #dbdbdb;
          z-index: 0;
        }

        select {
          color: rgba(74, 74, 74, 0.9);
          box-shadow: none;

          &:focus {
            border-color: #dbdbdb;
          }
        }
      }

      /* Input number */
      .b-numberinput {
        input {
          border: 0;
          font-size: $settingsFontSize;
        }

        button {
          font-size: $settingsFontSize;
          box-shadow: none;

          &.is-primary {
          }
        }
      }
    }
  }
}
