@import '../../assets/scss/varibles/varibles';

.world-page {
  width: 100%;
  height: 100%;

  .world-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .covid-icon {
      width: 100px;
      animation: rotationAnim 30s infinite linear;
    }

    .covid-label {
      color: rgba(0, 0, 0, 0.7);
      font-weight: 900;
      padding-left: 5px;
    }
  }

  .world-sub {
    padding-top: 10px;
    text-align: center;

    .world-title {
      color: rgba(0, 0, 0, 0.7);
      font-weight: 900;
    }

    .world-update-time {
      font-size: 12px;
    }
  }
  .world-body {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-item {
      margin-bottom: 0;
      margin-right: 15px;
      //text-align: center;
      //box-shadow: none;
      min-width: 180px;
      border-radius: 6px;
      border: 1px solid rgba(24, 28, 33, .06);
      .box-item-label {
        font-weight: 400;
        font-size: 16px
      }

      .box-item-value {
        font-weight: 700;
        font-size: 30px
      }
    }

    .notification {
      padding: 15px;
    }
  }

  .world-video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 0 40px;

    video {
      width: 100%;
      max-width: 560px;
      min-width: 300px;
      border-radius: 0;
      padding: 5px;
    }
  }

  .world-button {
    text-align: center;

    button {
      border-radius: 0;
    }

    //padding-top: 20px;
  }
}
